<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<title>End to End ML Projects</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
	</head>
	<body>
		<div class="site-wrap">
			<main class="card">
				<h1>Welcome To End to End Machine Learning Projects</h1>
				<p class="muted"><strong>The rising cost of health services as well as the inability of the Government health facilities to cope with the increasing demand for healthcare services, has brought about the necessity of private healthcare firm in providing health cover for people across all works of life.</strong> </p>
				<p class="muted"><strong>This project aims to predict health insurance charges based on various factors, with a focus on understanding the impact of age, sex, BMI, children, smoking status, and region.</strong></p>
				<p class="muted">Use the form in the next page to predict health insurance charges.</p>
				<p class="muted"><a href="{{ url_for('new_predict') }}"><h1>Click here to get your Health Insurance Charges</h1></a></p>
			</main>
		</div>
	</body>
</html>